/* ------------------------------------------------------------
 *	Background
 ------------------------------------------------------------ */

body {

	background-image: url("background_simple.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;

	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr= #379BE8, endColorstr= #1241af)";

	background:
	linear-gradient(to top right, rgba(18,142,212,0.57) 0%, rgba(36,156,221,0) 50%, rgba(70,116,235,0.3) 75%, rgba(24,53,211,0.8) 100%),
	linear-gradient(to bottom right, rgba(13,65,175,0.5) 100%, rgba(19,101,193,0.5) 25%, rgba(94,193,255,0.4) 53%, rgba(63,175,241,0.6) 70%, rgba(88,92,252,1) 95%, rgba(108,92,251,1) 100%),
	url("skin_background.jpg") 50% 50% no-repeat;


	background-size: cover;
	background-color: #0E77CC;
	background-attachment: fixed;
}

#mainContainer {
	height: 1200px;
}

/* ------------------------------------------------------------
 *	Footer
 ------------------------------------------------------------ */

#footer {
	margin: 38px auto;
}

#footer a {
    font-size: 14px;
    font-weight: 500;
    color: #b2e4ff;
    text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer .legal {
	font-weight: normal;
	color: #224099;
    font-size: 12px;
}

/* ------------------------------------------------------------
 *	Advertising
 ------------------------------------------------------------ */

#ad_container {
	z-index: 0;
}

.advertisement_square {
	top: 0;
	left: 0;
 	width: 300px !important;
  	height: 250px !important;
}

.advertisement_tall {
	top: 0;
	left: 0;
 	width: 160px !important;
  	height: 600px !important;
}

.advertisement_double_wide {
	top: 0;
	left: 0;
 	width: 300px !important;
  	height: 600px !important;
}

#mainContainer .backstage span[itemprop="price"] {
	display: none !important;
}

#mainContainer .backstage span[itemprop="priceCurrency"] {
	display: none !important;
}
