/*---------------------------------------------------------------------------
	RESET
---------------------------------------------------------------------------*/

html, body {
    height: 100%;
    padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    font-size: 13px;
    padding: 0;
    vertical-align: baseline;
}
	
/*---------------------------------------------------------------------------
	ELEMENTS
---------------------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	background: url("http://pandora.com/img/splash.jpg") no-repeat center -230px #091028;
    font: 300 1em/1.3em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636468;
	word-wrap: break-word;
	}

h1, h2, h3, h4, h5, h6 {
    color: #636468;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.2em;
    margin: 0;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}

a, a:hover {
	color:#009deb;
	font-weight:bold;
}

p {
    font: 300 1em/1.6em "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    color: #636468;
}

strong {
    font-weight: bold;
}
img {
	max-width: 100%;
}

hr {
    background-color: #dedede;
    border: 0 none;
    height: 1px;
    margin-bottom: 1.618em;
}

ul {
    list-style-position: outside;
    padding-left: 5%;
}

ul li {
	padding-left: 2%;
	font: 300 1em/1.6em "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636468;
}


/*---------------------------------------------------------------------------
	COLUMN LAYOUT
---------------------------------------------------------------------------*/


.columnRow {
	font-size: 0;/*  fixes spaces between inline-block elements */
	text-align: center; /* centers columns when they bump down to one row */
	padding: 25px 0;
}

.topPadding {
	padding-top: 175px;
}

.column {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 5%;
}

.column.center {
	text-align: center;
}

.column p,
.column ul {
	margin: 1em 0;
}

.column.full {
	width: 100%;
	margin: 0;
	font-size: 10px;
}

.column.full p,
.column.one p, 
.column.full ul,
.column.one ul {
	
}

.column.one {
    width: 90%;
}

.column.two {
	width: 42.5%;
}

.column.three {
	width: 32%;
}

.column.four {
	width: 23.5%;
	vertical-align: top;
	position: relative;
	min-width: 200px;
}

.last {
    margin-left: 0;
    margin-right: 5%;
}


#brandingBar {
	position: relative;
	width: 100%;
	min-width: 820px;
	height: 30px;
	background: transparent url("http://pandora.com/img/branding-bar-bg.jpg") repeat-x scroll;
	z-index: 1003;
	}

#brandingBar .logo {
	background: transparent url("http://pandora.com/img/pandora-logo.png") no-repeat;
	width: 108px;
	height: 18px;
	cursor: pointer;
	float: left;
	margin: 7px 0 0 7px;
}

#message {
	position: relative;
	width: 100%;
	padding: 60px 0;
}

#message .outer_bg {
	margin: 0 auto;
	padding: 5px;
	max-width: 800px;
	-moz-border-radius: 10px 10px 10px 10px;
	border: 1px solid #3D557F;
	background: url("http://pandora.com/img/outer_bg.png");
	-moz-box-shadow: 0 0 32px #383a3c;
	-webkit-box-shadow: 0 0 32px #383a3c;
	box-shadow: 0 0 60px #383a3c;
}

#message .content {
	border: 1px solid #242E3E;
	background:#fff;
	color: #3A4046;
	padding:0;
	/*text-align: center;*/
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 5%;
	position: relative;
}

.message_text {
	font-size: 18px;
	/*line-height: 1.27;*/
	font-weight: bold;
	color: #0D2D52;
}

.intro p {
	font-size: 1.2em;
}


.social {
	border-top: solid 1px #dedede;
	padding: 2em 0;
	text-align: center;
}

.social a {
    display: inline-block;
    margin: 1em 1em 0 0;
}

.social a:last-child {
	margin-right: 0;
}